/* スライダーの全体サイズを調整 */
.irs--flat .irs-bar,
.irs--flat .irs-line {
  height: 16px; /* 元は 6px、倍以上に拡大 */
}

/* スライダーのつまみ（ハンドル）を大きく */
.irs--flat .irs-handle {
  width: 15px;
  height: 24px;
  top: 15px; /* 位置を微調整 */
  background-color: #b0b0b0; /* 濃い青（Tailwind blue-600） */
  border-radius: 50%;
  border:1px solid white;
  cursor: grab;
}

/* 数字ラベルの文字サイズアップ */
.irs--flat .irs-grid-text {
  font-size: 14px;
  transform: translateY(2px); /* 微調整 */
}
/* スライダーの背景色を変更 */
.irs--flat .irs-from ,
.irs--flat .irs-to {
    font-size: 12px;
    transform: translateY(-5px);
}
.irs--flat .irs-single{
    font-size: 12px;
    transform: translateY(-5px);
}
.irs--flat .irs-handle > i:first-child{
     background-color: #b0b0b0!important;
}
.irs--flat .irs-handle:hover > i:first-child {
    background-color: #b0b0b0;
}
.reserved-range {
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: rgba(255, 0, 0, 0.3); /* 薄い赤 */
	z-index: 2;
	pointer-events: none; /* スライダー操作に干渉しない */
}